<h1><%= title %></h1>

<div id="form-container">
    <form action="/inventory/cclassification-view" method="post">
      <fieldset>
        <legend></legend>
        <h3>classification name</h3>
        <i>NAME MUST BE ALPHABETIC characters ONLY</i>
        <label
          ><input
            type="text"
            name="classification_name"
            title="Enter a classification name without space"
            required
        /></label>
      </fieldset>
      <input type="submit" value="add-classification-name" />
    </form>
  </div>
  <% message %>