<h1><%= title %> </h1>

<div>
    <ul>
        <li><a href="/inventory/cclassification-view">Add new classification</a></li>
        <li><a href="/inventory/add-vehicle">Add new Inventory</a></li>
    </ul>
</div>